* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli";
  color: rgb(51, 51, 51);
  /* color: rgb(31, 33, 64); */
}
button {
  font-family: "Muli";
}
path,
i,
svg {
  pointer-events: none;
}

.colors-wrapper {
  min-height: 80vh;
  display: flex;
  /* border: solid 2px hotpink; placeholder */
}
/* target each color section */
.color {
  position: relative;
  height: 80vh;
  flex: 1;
  /* centering content (inner) */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* hide slider's default transformed position */
  overflow: hidden;
}
.color h2 {
  font-family: "Muli";
  font-size: 1.8rem;
  cursor: pointer;
}

.sliders {
  position: absolute;
  bottom: 0%;
  border: none;
  padding: 1rem;
  width: 80%;
  background: white;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  /* centering content (inner) */
  display: flex;
  flex-direction: column;
  /* We will be adjusting this transform */
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
  /* hide overflow of close button */
  overflow: hidden;
}
.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: -5px;
  right: 0px;
  padding: 0.6rem;
  border: none;
  border-radius: 0 1rem;
  background: rgb(31, 33, 64);
  color: white;
}
.sliders.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
/* custom slider configuration */
input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: column;
}
.controls button {
  font-size: 2rem;
  border: none;
  background: none;
  color: rgb(31, 33, 64);
  margin: 2rem 0rem;
}

.panels-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel button {
  font-size: 1.4rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(31, 33, 64);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.panel p {
  /* font-weight: bold; */
  font-size: 1.2rem;
}

.copy-wrapper,
.save-wrapper,
.library-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  /* centering content */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.copy-wrapper.active,
.save-wrapper.active,
.library-wrapper.active {
  opacity: 1;
  pointer-events: all;
}
.copy-popup,
.save-popup,
.library-popup {
  background: white;
  min-width: 25%;
  min-height: 25%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
}
.copy-popup.active {
  transform: translateY(0);
}

.save-name {
  font-size: 1rem;
  padding: 0.4rem;
}
.close-save,
.close-library {
  top: 0;
}
.submit-save {
  padding: 0.6rem;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1.2rem;
  background: rgb(31, 33, 64);
  color: white;
}

.library-popup {
  min-width: 40%;
  margin: 1rem;
  padding: 2rem;
  justify-content: flex-start;
  overflow-y: scroll;
  max-width: 50vh;
}
.library-popup h4 {
  margin-bottom: 1rem;
}
.custom-palette {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.small-preview {
  display: flex;
  flex: 1;
}
.custom-palette h4 {
  margin-left: 1rem;
  flex: 1;
}
.small-preview div {
  flex: 1;
  height: 3rem;
}
.pick-palette-btn {
  margin-left: 0.2rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  background: rgb(41, 41, 41);
  color: white;
}
